
.card {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    padding: 20px;
    margin: 10px;
    max-width: 250px;
    max-height: 120px;
    display: inline-block;
    border-radius: 10px;
}

p {
    margin: 0;
}

.card .card-logo {
    max-width: 18%;
    height: auto;
    float: right;
}

.card .number {
    margin-top: 18%;
    font-size: 20px;
}